html, body {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
}

#score {
  display: none;
}

#board, #screen, #monitor, #score, #play {
  border: 1px solid black;
  border-radius: 16px;
}

#board, #screen {
  margin:auto;
  padding: 50px;
}

#board {
  width: 700px;
  margin-top: 0px;
  padding-top: 0px;
}

#monitor {
  width: 700px;
  margin-top:25px;
  background-color: #696969;
  overflow: auto;
  padding-bottom: 15px;
}

#screen {
  margin-top: 10px;
  margin-left: 20px;
  width: 405px;
  height: 100px;
  background-color: white;
  float: left;
  padding: 50px;
}

#controls {
  width: 100px;
  float: left;
  padding: 10px;
  margin-left: 25px;
}

#score, #play {
  padding: 5px;
  background-color: #E6E6FA;
  border-radius: 5px;
}

#play {
  width: 55px;
  margin-top: 10px;
}

.column {
  float: left;
  width: 20%;
}

/* clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row:last-child{
  margin-right:0px;
}

.shoot{
  background-color: #d1e1f5!important;
  /* color: white; */
}

#rpsButtons {
  padding-top: 15px;
}

#rpsButtons .column {
  height: 75px;
  background-position: center 20px;
}

#rock {
  background-image: url("rockt.png");
  background-color: #ffffffff;
  background-repeat: no-repeat;
}

#paper {
  background-image: url("papert.png");
  background-color: #ffffffff;
  background-repeat: no-repeat;
}

#scissors {
  background-image: url("scissorst.png");
  background-color: #ffffffff;
  background-repeat: no-repeat;
}

#rpsButtons button {
  background-color: transparent;
  width: 100%!important;
  height: 75px!important;
  border: none;
}

button div{
  margin-top: -25px;
  margin-bottom: 25px;
}

#rpsButtons .column:hover {
  border-radius: 5px;
  background-color: #4682B4;
}

#rpsButtons button:selected {
  border: 3px solid black;
}

#rpsButtons .column:last-child {
  float: right;
  padding-right: 0px!important;
  margin-right: 0px!important;
  clear: none;
}

#paper {
  margin-left: 20%;
}