/* 
<div id="board">
    <div id="screen">
      <div id="monitor">
        <div id="score">
        </div>
        <button onclick="main()">play</button>
    </div>
    <div id="buttons">
      <button id ="rock" onclick="rock()">rock</button>
      <button id="paper" onclick="paper()">paper</button>
      <button id="scissors" onclick="scissors()">scissors</button>
    </div>
  </div>
*/
html, body {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
}

div {
  border: 1px solid #ccc;
  border-radius: 16px;
}

#board, #screen {
  margin: 50px auto 0 auto;
  padding: 50px;
}

#board {
  width: 800px;
  margin-top: 0px;
  padding-top: 0px;
}

#monitor {
  width: 700px;
  background-color: gray;
  overflow: auto;
}

#screen {
  width: 400px;
  height: 100px;
  background-color: white;
  float: left;
  padding: 50px;
}

#controls {
  width: 100px;
  float: left;
  padding: 10px;
  margin-left: 50px;
}

#score, #play {
  width: 55px;
  padding: 5px;
  background-color: blue;
}

.column {
  float: left;
  width: 25%;
  margin-right: 10%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row:last-child{
  margin-right:0px;
}

.shoot{
  background-color: red!important;
  color: white;
}